<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
	  		classpath:applicationContext.xml,
			classpath:applicationContext_irms.xml,
			classpath:webservice-context.xml,
			classpath:config/user/spring-user.xml,
			classpath:config/domain/spring-domain.xml,
			classpath:config/document/spring-document.xml,
			classpath:config/login/spring-login.xml,
			classpath:config/main/spring-main.xml,
			classpath:config/event/spring-event.xml,
			classpath:config/equt/spring-equt.xml,
			classpath:config/pipe/spring-pipe.xml,
			classpath:config/point/spring-point.xml,
			classpath:config/poleline/spring-poleline.xml,
			classpath:config/route/spring-route.xml,
			classpath:config/generator/spring-generator.xml,
			classpath:config/property/spring-property.xml
			classpath:config/statistics/spring-statistics.xml
			classpath:config/dataupdate/spring-data.xml
			classpath:config/images/spring-resourceImage.xml
			classpath:config/version/spring-versionControl.xml
			classpath:config/stone/spring-stone.xml
			classpath:config/opticalTerminal/spring-opticalTerminal.xml
			classpath:config/buried/spring-buried.xml
			classpath:config/buriedPart/spring-buriedPart.xml
			classpath:config/dictionary/spring-dictionary.xml
			classpath:config/V2/hebei/mainTask/spring-mainTask.xml
			classpath:config/V2/beijing/resource/spring-resource.xml
			classpath:config/GIS/spring-gis.xml
			classpath:config/leadup/spring-leadup.xml
			classpath:config/device/spring-device.xml
			classpath:config/common/spring-common.xml
			classpath:config/irms/spring-irms.xml
			classpath:config/lineSystem/spring-lineSystem.xml
			classpath:config/gd/checkConfig/spring-checkConfig.xml
			classpath:config/gd/gdManage/spring-gdManage.xml
			classpath:config/report/spring-report.xml
			classpath:config/approval/spring-approval.xml
			classpath:config/collectTrack/spring-collectTrack.xml
			classpath:config/resPoint/spring-resPoint.xml
			classpath:config/transmissionEquipment/spring-transmissionEquipment.xml
			classpath:config/supportingRing/spring-supportingring.xml
		</param-value>

	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<context-param>
		<param-name>projectName</param-name>
		<param-value>网络资源清查工具管理系统</param-value>
	</context-param>
	<context-param>
		<param-name>iconPath</param-name>
		<param-value>imgs/lt_logo.png</param-value>
	</context-param>
	<context-param>
		<param-name>copyRight</param-name>
		<param-value>版权所有： 中国移动通信集团</param-value>
	</context-param>
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- session监听 实现通过sessionid获取session -->
	<listener>
		<listener-class>base.session.SessionListener</listener-class>
	</listener>
	<!-- UDP SOCKET监听 -->
    <!-- 
    <listener> 
    	<description>Socket 服务随web 启动而启动</description> 
    	<listener-class>interfaces.hwinterface.socketServer.listener.UDPServerListener</listener-class> 
    </listener>
    <listener> 
    	<description>服务监听</description> 
    	<listener-class>manage.events.listener.SystemListener</listener-class> 
    </listener>
    -->
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
	<filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
	</filter>
    <filter>    
		<filter-name>SecurityServlet</filter-name>    
		<filter-class>base.util.SecurityServlet</filter-class>
	</filter>
	<filter>    
		<filter-name>InterfaceFilter</filter-name>    
		<filter-class>base.filters.InterfaceFilter</filter-class>
	</filter>
	<filter>
	    <filter-name>struts-execute</filter-name>
	    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
	</filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>*.jsp</url-pattern> 
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>*.interface</url-pattern>
	</filter-mapping>
	<filter-mapping>    
		<filter-name>SecurityServlet</filter-name>    
		<url-pattern>*.jsp</url-pattern>    
	</filter-mapping>  
	<filter-mapping>    
    	<filter-name>SecurityServlet</filter-name>    
    	<url-pattern>*.do</url-pattern>
	</filter-mapping> 
	<filter-mapping>    
    	<filter-name>SecurityServlet</filter-name>    
    	<url-pattern>*.action</url-pattern>    
	</filter-mapping>
	<filter-mapping>    
    	<filter-name>InterfaceFilter</filter-name>    
    	<url-pattern>*.interface</url-pattern>    
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>*.interface</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>XFireServlet</servlet-name>
		<servlet-class>org.codehaus.xfire.spring.XFireSpringServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<!-- 验证码 -->
	<servlet>
	    <description>AuthCode</description>
	    <display-name>AuthCode</display-name>
	    <servlet-name>AuthCode</servlet-name>
	    <servlet-class>base.util.AuthCode</servlet-class>
  	</servlet>
  	<servlet>
	    <description>上传</description>
	    <display-name>upload</display-name>
	    <servlet-name>upload</servlet-name>
	    <servlet-class>interfaces.pdainterface.upload.upload</servlet-class>
	</servlet>
	<servlet>
	    <description>获取图片</description>
	    <display-name>resImage</display-name>
	    <servlet-name>resImage</servlet-name>
	    <servlet-class>interfaces.pdainterface.images.ResImage</servlet-class>
	</servlet>
	<servlet>
	    <description>生成二维码</description>
	    <display-name>resScan</display-name>
	    <servlet-name>resScan</servlet-name>
	    <servlet-class>interfaces.pdainterface.common.action.ResScan</servlet-class>
	</servlet>
	<servlet>
	    <description>版本</description>
	    <display-name>VersionIface</display-name>
	    <servlet-name>VersionIface</servlet-name>
	    <servlet-class>interfaces.pdainterface.version.VersionIface</servlet-class>
	</servlet>
	<servlet>
	    <description>用户</description>
	    <display-name>UserIface</display-name>
	    <servlet-name>UserIface</servlet-name>
	    <servlet-class>interfaces.pdainterface.user.UserIface</servlet-class>
	</servlet>
	<servlet>
	    <description>微信</description>
	    <display-name>WeixinIface</display-name>
	    <servlet-name>WeixinIface</servlet-name>
	    <servlet-class>interfaces.pdainterface.weixin.WeixinIface</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlUser</servlet-name>
		<servlet-class>com.langchao.control.authority.CtrlUser </servlet-class>
		<init-param>
			<param-name>typeName</param-name>
			<param-value>im</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CtrlUser</servlet-name>
		<url-pattern>/CtrlUser.action</url-pattern>
	</servlet-mapping>
  	<servlet-mapping>
	    <servlet-name>upload</servlet-name>
	    <url-pattern>/upload</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	    <servlet-name>resImage</servlet-name>
	    <url-pattern>/resImage</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	    <servlet-name>resScan</servlet-name>
	    <url-pattern>/resScan</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
	    <servlet-name>VersionIface</servlet-name>
	    <url-pattern>/VersionIface</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>UserIface</servlet-name>
    	<url-pattern>/UserIface</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>WeixinIface</servlet-name>
    	<url-pattern>/WeixinIface</url-pattern>
  	</servlet-mapping>
  	<!-- webservice -->
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/servlet/XFireServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<!-- 接口 -->
	<servlet-mapping>
		<servlet-name>AuthCode</servlet-name>
		<url-pattern>/servlet/AuthCode</url-pattern>
	</servlet-mapping>
    <!-- session超时定义,单位为分钟 -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
			<taglib-uri>/tag/jstl/fn</taglib-uri>
			<taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tag/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>
        <taglib>
			<taglib-uri>/tag/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
    </jsp-config>
  	<welcome-file-list>
    	<welcome-file>login.jsp</welcome-file>
  	</welcome-file-list>
  	<servlet>
    	<description>GetPos</description>
    	<display-name>GetPos</display-name>
    	<servlet-name>GetPos</servlet-name>
   		<servlet-class>interfaces.pdainterface.equt.GetPos</servlet-class>
  	</servlet>
  	
  	<filter>
	    <filter-name>ContentTypeFilter</filter-name>
	    <filter-class>system.ContentTypeFilter</filter-class>
	</filter>
  	<filter-mapping>
        <filter-name>ContentTypeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>